<%= render 'pages/home' unless user_signed_in? %>
<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
    <p align="center">
      <br>
     <strong>By : <%= pin.user.name if pin.user %></strong>
    </p>
      <%= link_to image_tag(pin.image.url), pin %>
      <div class="panel-body">
      <p align="center">
        <%= pin.description %><br/>
       </p>
        <% if current_user && pin.user == current_user %>
         <div class="actions">   
     <p align="center"> <%= link_to edit_pin_path(pin) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
       <% end %> | 
       <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
     <% end %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>  
</div>
<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>


